/* Styles for entire body */
body {
  padding: 0;
  margin: 0;
}

/*MAIN CONTAINER */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "container1 container1 container1"
    "container4 container4 container4"
    "footer footer footer";
}

nav {
  background-color: #705d71;
  grid-area: nav;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
}

#top {
  display: flex;
  align-items: center;
  /* max-width: 1300px; */
}

#logo-box {
  background-color: #705d71;
  width: 50%;
  justify-content: right;
  align-items: right;
  float: right;
  grid-area: logo;
}

#logo {
  display: flex;
  background-color: #705d71;
  width: 50%;
  justify-content: left;
  float: right;
  font-family: "Antonio", sans-serif;
  font-size: 2.5em;
  color: #ef972d;
}

#link-box {
  background-color: #705d71;
  width: 50%;
  justify-content: center;
  grid-area: link;
}

#links {
  display: flex;
  background-color: #705d71;
  width: 50%;
  justify-content: right;
  gap: 10px;
  font-size: 1.2em;
}

main {
  grid-area: main;
  width: 100%;
}

#main-content-area {
  background-color: #a2e5f5;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ape-image {
  max-width: 100%;
  max-height: 100%;
}

#container1 {
  background-color: beige;
  grid-area: container1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  row-gap: 0;
}

#box1 {
  grid-area: box1;
}

#box2 {
  max-width: 20%;
  grid-area: box2;
}

#box3 {
  margin-bottom: 0;
  grid-area: box3;
}

#boxes3 {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#cat-image {
  max-width: 100%;
  max-height: 100%;
  object-position: bottom;
}

#cool-cats-header {
  color: #333;
  font-family: "Merriweather", serif;
  font-size: 44px;
}

#cool-cats-text {
  font-family: "Merriweather", serif;
  font-size: 20px;
}

#container4 {
  background-color: beige;
  grid-area: container4;
}

#sad-punk-image {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: #a2e5f5;
  grid-area: footer;
  width: 100%;
}

#footer-container {
  display: flex;
  justify-content: center;

  gap: 70px;
  padding: 10px;
}

#footer-left {
  width: 500px;
}

#footer-left-ul {
  list-style: none;
  text-align: right;
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: grey;
}

#footer-right-ul {
  list-style: none;
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: grey;
}

#footer-right {
  width: 500px;
}

/* UNDERLINE EFFECT ON HOVER FOR NAV LINKS */
.underline {
  font-family: "Lilita One", cursive;
  position: relative;
}

.underline-footer {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #333;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: lightsalmon;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/*FOOTER HOVER EFFECT FOR LINKS */
.underline-footer {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: grey;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.underline-footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: lightsalmon;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline-footer:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/*
--------------------------------------------------------------------
LEARNINGS CONTAINER (learnings.html)
--------------------------------------------------------------------
*/
.learnings-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 100vh 50px; /*repeat(5, 1fr);*/
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  grid-template-areas:
    "learnings-nav" "learnings-nav" "learnings-nav"
    "learnings-main" "learnings-main" "learnings-main"
    "learnings-footer" "learnings-footer" "learnings-footer";
}

.learnings-nav {
  grid-area: 1 / 1 / 2 / 4;
  background-color: #705d71;
  height: 50px;
}
.learnings-main {
  grid-area: 2 / 1 / 5 / 4;
  background-color: beige;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.learnings-main-content {
  display: flex;
  min-height: 100%;
  flex: 0 1 1200px;
  justify-content: center;
}

/*.learnings-main-content {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  padding: 20px;
  background-color: #ef972d;
}*/

#learnings-main-content-area1 {
  background-color: burlywood;
  width: 400px;
  padding: 20px;
}

#learnings-main-content-area2 {
  background-color: beige;
  width: 400px;
  padding: 20px;
}

.learnings-footer {
  grid-area: 5 / 1 / 6 / 4;
  background-color: #705d71;
  height: 50px;
}

#howto-main-content-area1 {
  background-color: beige;
  width: 400px;
  padding: 20px;
}

#howto-main-content-area2 {
  background-color: #a2e5f5;
  width: 400px;
  padding: 20px;
}

#p {
  text-align: right;
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #333;
}

#p-right {
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #333;
}

/*
--------------------------------------------------------------------
REFERENCES CONTAINER (references.html)
--------------------------------------------------------------------
*/

#references-main-content-area {
  background-color: beige;
  height: 100vh;
}

#references-container1 {
  background-color: beige;

  display: flex;
  flex-direction: row;
  align-items: center;

  flex: 1 0 0;
  row-gap: 0;
  margin-top: 50px;
  max-width: 1200px;
}

#p-ref {
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #333;
}
